{% extends '::base.html.twig' %}
{% block title %}Admin Zone{% endblock %}


{% block body %}


<h2>Listado de Usuarios</h2>
    <div class="table-responsive">
      <table id="usuarios" class="table table-bordered table-hover">
        <tr>
            <td>ID Usuario</td>
            <td>Nombre Usuario</td>
            <td>E-Mail</td>
            <td>Roles</td>
            <td>Editar</td>
        </tr>
        {% for usuario in usuarios %}
          <tr>
              <td>{{ usuario.id}}</td>
              <td>{{ usuario.username}}</td>
              <td>{{ usuario.email}}</td>
              <td>
                  {% for roles in usuario.roles %}
                    {{ roles}}<br>
                  {% endfor %}
              </td>
              <td>
                <a href="user/{{usuario.id}}">Editar</a>
              </td>
          </tr>
        {% endfor %}
      </table>
  {% endblock %}
