{% extends '::base.html.twig' %}
{% block title %}Empresas FCT{% endblock %}


{% block body %}

<h2>Listado de Empresas</h2>
<div class="table-responsive">
    <table id="empresas" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID Empresa</th>
            <th>Nombre Empresa</th>
            <th>Dirección</th>
            <th>Código Postal</th>
            <th>Telefono 1</th>
            <th>Telefono 2</th>
            <th>Fecha de Creación</th>
        </tr>
    </thead>
    {% for empresa in empresas %}
      <tr>
          <td>{{ empresa.id}}</td>
          <td>{{ empresa.nombre}}</td>
          <td>{{ empresa.direccion}}</td>
          <td>{{ empresa.cp}}</td>
          <td>{{ empresa.telefono1}}</td>
          <td>{{ empresa.telefono2}}</td>
          <td>{{ empresa.fechaCreacion.date}}</td>
      </tr>
      {% endfor %}
      </table>
</div>
{% endblock %}
